### Laboratorio 2 - Series de Tiempo
- - -
- Diego Alberto Leiva 21750
- José Pablo Orellana 21970
- - -

#### Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

#### Cargar la data

In [31]:
data = pd.read_csv('importacion.csv', skiprows=6)
data1 = pd.read_csv('precios.csv')

#### Visualizar estructura e información general del dataset

In [32]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 69 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     283 non-null    object
 1   Aceites lubricantes       281 non-null    object
 2   Asfalto                   281 non-null    object
 3   Bunker                    281 non-null    object
 4   Ceras                     280 non-null    float64
 5   Combustible turbo jet     281 non-null    object
 6   Diesel bajo azufre        281 non-null    object
 7   Diesel ultra bajo azufre  281 non-null    object
 8   Gas licuado de petróleo   281 non-null    object
 9   Gasolina de aviación      281 non-null    object
 10  Gasolina regular          281 non-null    object
 11  Gasolina superior         281 non-null    object
 12  Grasas lubricantes        281 non-null    object
 13  Kerosina                  281 non-null    object
 14  Mezclas oleosas           281 non-null    object
 15  Naftas                    281 non-null    float64
 16  Petcoke                   281 non-null    object
 17  Petróleo crudo            281 non-null    object
 18  Solventes                 281 non-null    object
 19  Butano                    281 non-null    float64
 20  Diesel alto azufre        281 non-null    object
 21  MTBE                      281 non-null    object
 22  Orimulsión                281 non-null    object
 23  Petróleo reconstituido    281 non-null    object
 24  Total importación         281 non-null    object
 25  Unnamed: 25               0 non-null      float64
 26  Unnamed: 26               0 non-null      float64
 27  Unnamed: 27               0 non-null      float64
 28  Unnamed: 28               0 non-null      float64
 29  Unnamed: 29               0 non-null      float64
 30  Unnamed: 30               0 non-null      float64
 31  Unnamed: 31               0 non-null      float64
 32  Unnamed: 32               0 non-null      float64
 33  Unnamed: 33               0 non-null      float64
 34  Unnamed: 34               0 non-null      float64
 35  Unnamed: 35               0 non-null      float64
 36  Unnamed: 36               0 non-null      float64
 37  Unnamed: 37               0 non-null      float64
 38  Unnamed: 38               0 non-null      float64
 39  Unnamed: 39               0 non-null      float64
 40  Unnamed: 40               0 non-null      float64
 41  Unnamed: 41               0 non-null      float64
 42  Unnamed: 42               0 non-null      float64
 43  Unnamed: 43               0 non-null      float64
 44  Unnamed: 44               0 non-null      float64
 45  Unnamed: 45               0 non-null      float64
 46  Unnamed: 46               0 non-null      float64
 47  Unnamed: 47               0 non-null      float64
 48  Unnamed: 48               0 non-null      float64
 49  Unnamed: 49               0 non-null      float64
 50  Unnamed: 50               0 non-null      float64
 51  Unnamed: 51               0 non-null      float64
 52  Unnamed: 52               0 non-null      float64
 53  Unnamed: 53               0 non-null      float64
 54  Unnamed: 54               0 non-null      float64
 55  Unnamed: 55               0 non-null      float64
 56  Unnamed: 56               0 non-null      float64
 57  Unnamed: 57               0 non-null      float64
 58  Unnamed: 58               0 non-null      float64
 59  Unnamed: 59               0 non-null      float64
 60  Unnamed: 60               0 non-null      float64
 61  Unnamed: 61               0 non-null      float64
 62  Unnamed: 62               0 non-null      float64
 63  Unnamed: 63               0 non-null      float64
 64  Unnamed: 64               0 non-null      float64
 65  Unnamed: 65               0 non-null      float64
 66  Unnamed: 66               0 non-null      float64
 67  Unnamed: 67               0 non-null      float64
 68  Unnamed: 68               0 non-null      float64
dtypes: float64(47), object(22)
memory usage: 153.2+ KB

In [33]:
data1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 29 entries, 0 to 28
Data columns (total 28 columns):
 #   Column                                                                                                          Non-Null Count  Dtype
---  ------                                                                                                          --------------  -----
 0   GASOLINA SUPERIOR - CON ADITIVO                                                                                 29 non-null     object
 1   Unnamed: 1                                                                                                      2 non-null      float64
 2   Unnamed: 2                                                                                                      26 non-null     float64
 3   Unnamed: 3                                                                                                      28 non-null     float64
 4   Unnamed: 4                                                                                                      28 non-null     float64
 5   Unnamed: 5                                                                                                      28 non-null     float64
 6   PRECIOS PROMEDIO DE COMBUSTIBLES A CONSUMIDOR FINAL MODALIDAD SERVICIO COMPLETO
CIUDAD CAPITAL
QUETZALES/GALÓN  0 non-null      float64
 7   Unnamed: 7                                                                                                      28 non-null     float64
 8   Unnamed: 8                                                                                                      28 non-null     float64
 9   Unnamed: 9                                                                                                      28 non-null     float64
 10  Unnamed: 10                                                                                                     28 non-null     float64
 11  Unnamed: 11                                                                                                     28 non-null     float64
 12  Unnamed: 12                                                                                                     28 non-null     float64
 13  Unnamed: 13                                                                                                     28 non-null     float64
 14  Unnamed: 14                                                                                                     28 non-null     float64
 15  Unnamed: 15                                                                                                     28 non-null     float64
 16  Unnamed: 16                                                                                                     28 non-null     float64
 17  Unnamed: 17                                                                                                     28 non-null     float64
 18  Unnamed: 18                                                                                                     28 non-null     float64
 19  Unnamed: 19                                                                                                     28 non-null     float64
 20  Unnamed: 20                                                                                                     28 non-null     float64
 21  Unnamed: 21                                                                                                     28 non-null     float64
 22  Unnamed: 22                                                                                                     28 non-null     float64
 23  Unnamed: 23                                                                                                     28 non-null     float64
 24  Unnamed: 24                                                                                                     28 non-null     float64
 25  Unnamed: 25                                                                                                     14 non-null     float64
 26  Unnamed: 26                                                                                                     0 non-null      float64
 27  Unnamed: 27                                                                                                     0 non-null      float64
dtypes: float64(27), object(1)
memory usage: 6.5+ KB

In [34]:
print(f"El dataset de importación contiente: {data.shape[0]} observaciones y {data.shape[1]} variables")

El dataset de importación contiente: 284 observaciones y 69 variables

In [35]:
print(f"El dataset de precios contiente: {data1.shape[0]} observaciones y {data1.shape[1]} variables")

El dataset de precios contiente: 29 observaciones y 28 variables

In [37]:
data.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Unnamed: 59,Unnamed: 60,Unnamed: 61,Unnamed: 62,Unnamed: 63,Unnamed: 64,Unnamed: 65,Unnamed: 66,Unnamed: 67,Unnamed: 68
0,Jan/2001,0.00,"27,748.99","214,581.84",0.0,0.00,0.00,0.00,"194,065.74",820.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Feb/2001,0.00,"7,503.57","294,609.00",0.0,0.00,0.00,0.00,"170,703.38","3,054.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Mar/2001,0.00,"26,304.32","315,263.80",0.0,0.00,0.00,0.00,"161,837.37",677.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Apr/2001,0.00,"7,885.89","205,653.00",0.0,0.00,0.00,0.00,"163,048.64","3,399.00",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,May/2001,0.00,"8,443.16","278,371.30",0.0,0.00,0.00,0.00,"171,518.86",585.00,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [9]:
data1.head()

,GASOLINA SUPERIOR - CON ADITIVO,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,PRECIOS PROMEDIO DE COMBUSTIBLES A CONSUMIDOR FINAL MODALIDAD SERVICIO COMPLETO\nCIUDAD CAPITAL\nQUETZALES/GALÓN,Unnamed: 7,Unnamed: 8,Unnamed: 9,...,Unnamed: 18,Unnamed: 19,Unnamed: 20,Unnamed: 21,Unnamed: 22,Unnamed: 23,Unnamed: 24,Unnamed: 25,Unnamed: 26,Unnamed: 27
0,MES/AÑO,NaN,2002.00,2003.00,2004.00,2005.00,NaN,2006.00,2007.00,2008.00,...,2017.00,2018.00,2019.00,2020.00,2021.00,2022.00,2023.00,2024.00,NaN,NaN
1,ENERO,NaN,13.37,16.34,16.80,19.80,NaN,23.31,23.62,29.55,...,25.31,26.47,23.72,26.17,24.34,32.05,35.76,32.17,NaN,NaN
2,FEBRERO,NaN,13.23,17.21,18.05,19.25,NaN,22.98,22.65,29.45,...,24.51,26.27,24.54,25.12,26.07,34.55,35.54,33.37,NaN,NaN
3,MARZO,NaN,13.63,18.30,18.68,20.46,NaN,22.85,24.00,30.83,...,24.03,26.43,26.49,24.15,28.24,39.83,34.95,35.53,NaN,NaN
4,ABRIL,NaN,15.18,17.42,19.16,22.70,NaN,25.36,26.35,32.45,...,24.81,27.74,28.48,19.44,28.54,39.37,36.87,36.76,NaN,NaN

In [ ]:
data1.head()