### Laboratorio 2 - Series de Tiempo
- - -
- Diego Alberto Leiva 21750
- José Pablo Orellana 21970
- - -

#### Librerías

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from datetime import datetime

#### Cargar la data

In [23]:
data = pd.read_csv('importacion.csv', skiprows=6, usecols=range(25))
data1 = pd.read_csv('precios.csv')

#### Visualizar estructura e información general del dataset

In [24]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284 entries, 0 to 283
Data columns (total 25 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Fecha                     283 non-null    object
 1   Aceites lubricantes       281 non-null    object
 2   Asfalto                   281 non-null    object
 3   Bunker                    281 non-null    object
 4   Ceras                     280 non-null    float64
 5   Combustible turbo jet     281 non-null    object
 6   Diesel bajo azufre        281 non-null    object
 7   Diesel ultra bajo azufre  281 non-null    object
 8   Gas licuado de petróleo   281 non-null    object
 9   Gasolina de aviación      281 non-null    object
 10  Gasolina regular          281 non-null    object
 11  Gasolina superior         281 non-null    object
 12  Grasas lubricantes        281 non-null    object
 13  Kerosina                  281 non-null    object
 14  Mezclas oleosas           281 non-null    object
 15  Naftas                    281 non-null    float64
 16  Petcoke                   281 non-null    object
 17  Petróleo crudo            281 non-null    object
 18  Solventes                 281 non-null    object
 19  Butano                    281 non-null    float64
 20  Diesel alto azufre        281 non-null    object
 21  MTBE                      281 non-null    object
 22  Orimulsión                281 non-null    object
 23  Petróleo reconstituido    281 non-null    object
 24  Total importación         281 non-null    object
dtypes: float64(3), object(22)
memory usage: 55.6+ KB

In [26]:
print(f"El dataset de importación contiente: {data.shape[0]} observaciones y {data.shape[1]} variables")

El dataset de importación contiente: 284 observaciones y 25 variables

In [28]:
data.head()

,Fecha,Aceites lubricantes,Asfalto,Bunker,Ceras,Combustible turbo jet,Diesel bajo azufre,Diesel ultra bajo azufre,Gas licuado de petróleo,Gasolina de aviación,...,Naftas,Petcoke,Petróleo crudo,Solventes,Butano,Diesel alto azufre,MTBE,Orimulsión,Petróleo reconstituido,Total importación
0,Jan/2001,0.00,"27,748.99","214,581.84",0.0,0.00,0.00,0.00,"194,065.74",820.00,...,0.0,0.00,0.00,0.00,0.0,"566,101.99","8,402.00",0.00,"715,344.00","2,312,639.05"
1,Feb/2001,0.00,"7,503.57","294,609.00",0.0,0.00,0.00,0.00,"170,703.38","3,054.00",...,0.0,0.00,0.00,0.00,0.0,"489,525.80",0.00,0.00,"370,166.00","1,769,208.76"
2,Mar/2001,0.00,"26,304.32","315,263.80",0.0,0.00,0.00,0.00,"161,837.37",677.00,...,0.0,0.00,0.00,0.00,0.0,"575,559.68",0.00,0.00,"360,530.00","1,945,770.26"
3,Apr/2001,0.00,"7,885.89","205,653.00",0.0,0.00,0.00,0.00,"163,048.64","3,399.00",...,0.0,0.00,0.00,0.00,0.0,"437,745.42","8,184.00",0.00,"359,527.00","1,623,637.76"
4,May/2001,0.00,"8,443.16","278,371.30",0.0,0.00,0.00,0.00,"171,518.86",585.00,...,0.0,0.00,0.00,0.00,0.0,"552,609.13","12,680.00",0.00,"723,346.00","2,262,726.64"

**Variables identificadas**
- Fecha: Fecha de Importación

**Precios**
- Aceites Lubricantes
- Asfalto
- Bunker
- Ceras
- Combustible turbo jet
- Diesel bajo azufre
- Diesel ultra bajo azufre
- Gas licuado de petróleo
- Gasolina de aviación
- Gasolina regular
- Gasolina superior
- Grasas lubricantes
- Kerosina
- Mezclas oleosas
- Naftas
- Petcoke
- Petróleo crudo	
- Solventes
- Butano
- Diesel alto azufre	
- MTBE
- Orimulsión
- Petróleo reconstituido	
- Total importación: Suma total de precios

----
### Preprocesamiento y Limpieza de datos

#### Verificación y manejo de valores Nulos o faltantes

##### Visualizar la data faltante